@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Moview Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Genre:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Release Date:
        </dt>

        <dd>
            @Model.ReleaseDate.ToLongDateString()
        </dd>

        <dt>
            Date Added:
        </dt>

        <dd>
           @Model.DateAdded.ToLongDateString()
        </dd>

        <dt>
            Number in Stock:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
